img {
	width: 1028px;
  	height: 772px;
	float: left;
	margin: 100px 0px 0px -10px;
	display: inline-block;
}

#name {
	position: absolute;
  font-family: 'Rock Salt', cursive;
  margin-top: 890px; 
  margin-bottom: 75px; 
  margin-left: 10px;
  display: block;
  font-size: 20px;
  width: 100%;
  clear: both;
  color: gray;
}

#GitHub{
		position: absolute;
	font-family: 'Open Sans', sans-serif;
	margin-top: 895px;
	margin-bottom: 75px;
	margin-left: -375px;
	display: inline-block;
	font-size: 30px;
	width:  100%;
	padding-right: 10px;
	color: gray;
	/*border: 1px:
	border-width: 10px;
	width: 60px;
	height: 60px;
	border-radius: 5px;
	background-color: gray;*/
}

#twitter{
		position: absolute;
	font-family: 'Open Sans', sans-serif;
	margin-top: 895px;
	margin-bottom: 75px;
	margin-left: -250px;
	display: inline-block;
	font-size: 30px;
	width:  100%;
	padding-right: 10px;
	color: gray;
}

#LinkedIn{
		position: absolute;
	font-family: 'Open Sans', sans-serif;
	margin-top: 895px;
	margin-bottom: 75px;
	margin-left: -125px;
	display: inline-block;
	font-size: 30px;
	width:  100%;
	padding-right: 10px;
	color: gray;
}


.footer {
	bottom: 20px;
}

div table {
	float: left;
	margin: 300px 0px 300px 0px;
	position: relative;
}

div table tbody tr td {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	font-size: 44px;
	padding: 40px 300px 40px 60px;
	font-family: 'Open Sans', sans-serif;
	float: left;
}

a {
    color: #2AB998;
    text-decoration: none;
    /*font-family: open-sans;*/
}