img {
	width: 1028px;
  	height: 772px;
	float: left;
	margin: 125px 0px 125px -10px;
	display: inline-block;
}

#name {
	float: left;
	font-family: rock-salt open-sans;
	margin: 900px 0px 0px 10px;
	display: inline-block;
	font-size: 30px;
}

#belowpic {
	border: clear;
}

#social {
	display: inline-block;
	position: absolute;
	float: right;
}

div table {
	float: left;
	margin: 300px 0px 300px 0px;
	position: relative;
}

div table tbody tr td {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	font-size: 44px;
	padding: 40px 400px 40px 60px;
	font-family: open-sans Veranda;
	float: left;
}

a {
    color: #2AB998;
    text-decoration: none;
    font-family: open-sans;
}